@tailwind base;
@tailwind components;
<<<<<<< HEAD
@tailwind utilities;
=======
@tailwind utilities;

html {
  scroll-behavior: smooth
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
>>>>>>> 394e595c39c33b23f4edf1de7580beb1d2e68992
